<a href="https://colab.research.google.com/github/sharhp21/ChatBot_SW_Quest/blob/master/chatbot_quest_days2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **20200114**

# **Pandas**

In [0]:
import pandas as pd

## Series ##

data = ['2016', '2017', '2018', '2019']
result = pd.Series(data)

print(result)

0    2016
1    2017
2    2018
3    2019
dtype: object

In [0]:
result.index

RangeIndex(start=0, stop=4, step=1)

In [0]:
result.values

array(['2016', '2017', '2018', '2019'], dtype=object)

In [0]:
result.name = 'Year'
print(result)

0    2016
1    2017
2    2018
3    2019
Name: Year, dtype: object

In [0]:
result.index.name = 'No'
print(result)

No
0    2016
1    2017
2    2018
3    2019
Name: Year, dtype: object

In [0]:
result = pd.Series(data, index = ['a', 'b', 'c', 'd'])
print(result)
result.index

a    2016
b    2017
c    2018
d    2019
dtype: object

Index(['a', 'b', 'c', 'd'], dtype='object')

In [0]:
score = {'Kim':85, 'Hwang':100, 'Lee':99, 'Choi':80}
result = pd.Series(score)
print(result)
print(result.index)
print(result.values)

# 객체 접근
print(result['Lee'])
print(result['Hwang'])

Kim       85
Hwang    100
Lee       99
Choi      80
dtype: int64
Index(['Kim', 'Hwang', 'Lee', 'Choi'], dtype='object')
[ 85 100  99  80]
99
100

In [0]:
## DataFrame ##

data = {'name':['Lee', 'Hwang', 'Kim', 'Choi'],
        'score':[100, 95, 90, 85],
        'grade':['A', 'A', 'B', 'B']}

df = pd.DataFrame(data)

print(df)
print(df.index)
print(df.columns)
print(df.values)

df.index.name = 'No'
df.columns.name = 'Info'

print(df)

    name  score grade
0    Lee    100     A
1  Hwang     95     A
2    Kim     90     B
3   Choi     85     B
RangeIndex(start=0, stop=4, step=1)
Index(['name', 'score', 'grade'], dtype='object')
[['Lee' 100 'A']
 ['Hwang' 95 'A']
 ['Kim' 90 'B']
 ['Choi' 85 'B']]
Info   name  score grade
No
0       Lee    100     A
1     Hwang     95     A
2       Kim     90     B
3      Choi     85     B

In [0]:
# NaN

c = ['name', 'grade','score', 'etc']
df2 = pd.DataFrame(data, columns=c)
print(df2)

score = {'Kim':85, 'Hwang':100, 'Lee':99, 'Choi':80}
students = ['Hwang', 'Lee', 'Woo']
result = pd.Series(score, index=students)
print(result)

    name grade  score  etc
0    Lee     A    100  NaN
1  Hwang     A     95  NaN
2    Kim     B     90  NaN
3   Choi     B     85  NaN
Hwang    100.0
Lee       99.0
Woo        NaN
dtype: float64

In [0]:
import numpy as np

data = {'name':['David', 'Roy', 'Tina', 'Kim'],
        'score':[78, 64, 70, 62],
        'grade':['C', 'D', 'C', 'D']}
df = pd.DataFrame(data)
df.index.name = 'No'
df.columns.name = 'Info'
print(df)

df['etc'] = np.nan
print(df)

Info   name  score grade
No
0     David     78     C
1       Roy     64     D
2      Tina     70     C
3       Kim     62     D
Info   name  score grade  etc
No
0     David     78     C  NaN
1       Roy     64     D  NaN
2      Tina     70     C  NaN
3       Kim     62     D  NaN

In [0]:
# df 데이터 추가

data = {'name':['Lee', 'Hwang', 'Kim', 'Choi'],
        'score':[100, 95, 90, 85],
        'grade':['A', 'A', 'B', 'B']}

df = pd.DataFrame(data)

points = pd.Series([1.5, 1.7, 2.4], index=[0, 1, 2])
df['points'] = points
df['etc'] = 0.0
df['high_score'] = df['score'] > 90

df.loc[5,:] = ['Su', 'C', 70, 0.0, 1.1, False]
print(df)

    name score grade  points  etc  high_score
0    Lee   100     A     1.5  0.0        True
1  Hwang    95     A     1.7  0.0        True
2    Kim    90     B     2.4  0.0       False
3   Choi    85     B     NaN  0.0       False
5     Su     C    70     0.0  1.1       False

In [0]:
# df 데이터 삭제

del df['etc']
df.drop(5, inplace=True) # inplace는 기존의 객체 변경
print(df)

    name score grade  points  high_score
0    Lee   100     A     1.5        True
1  Hwang    95     A     1.7        True
2    Kim    90     B     2.4       False
3   Choi    85     B     NaN       False

In [0]:
# 지정된 값 index로 만들기
df.set_index('name', inplace=True)
print(df)

# 데이터 조회
print(df[1:3])
print(df[:2])

      score grade  points  high_score
name
Lee     100     A     1.5        True
Hwang    95     A     1.7        True
Kim      90     B     2.4       False
Choi     85     B     NaN       False
      score grade  points  high_score
name
Hwang    95     A     1.7        True
Kim      90     B     2.4       False
      score grade  points  high_score
name
Lee     100     A     1.5        True
Hwang    95     A     1.7        True

In [0]:
# loc[행 조건식, (열 조건식)]

print(df.loc['Lee'])
print(df.loc[['Lee', 'Choi']])
print(df.loc[:'Kim'])
print(df.loc['Kim':'Choi', ['grade', 'high_score']])

score          100
grade            A
points         1.5
high_score    True
Name: Lee, dtype: object
     score grade  points  high_score
name
Lee    100     A     1.5        True
Choi    85     B     NaN       False
      score grade  points  high_score
name
Lee     100     A     1.5        True
Hwang    95     A     1.7        True
Kim      90     B     2.4       False
     grade  high_score
name
Kim      B       False
Choi     B       False

In [0]:
# iloc 위치 번호 기준으로 데이터를 가져온다

print(df.iloc[0:3])
print(df.iloc[0:3, 1:3])

      score grade  points  high_score
name
Lee     100     A     1.5        True
Hwang    95     A     1.7        True
Kim      90     B     2.4       False
      grade  points
name
Lee       A     1.5
Hwang     A     1.7
Kim       B     2.4

In [0]:
# dropna, 원본데이터 변경하고 싶다면 inplace=True 옵션
# dropna(how='any') 행 데이터 중 하나라도 NaN이면 해당 행 제거
# dropna(how='all') 행 데이터의 모든 값이 NaN인 행 데이터를 제거
# df.isnull() - NaN 데이터를 찾아 True로 반환
# fillna(value=' ') null값을 value로 변환

In [0]:
## index 기준 정렬
# df.sort_index()
# df.sort_index(ascending=False)

## column 기준 정렬
# sort_index(axis=1)
# sort_index(axis=1, ascending=False)

## 특정 열 데이터 기준 정렬
# sort_values(by='column명')

In [0]:
data = {'name':['David', 'Roy', 'Tina', 'Kim'],
        'grade':['C', 'D', 'C', 'D'],
        'score':[78, 64, 70, 62]}

df = pd.DataFrame(data)

df['etc'] = 0.0

print(df.loc[df['name'] == 'Roy', 'score'].values[0])

64